[Desktop Entry]
Type=Application
Version=1.5
Name=Air Traffic Controller
Exec=atc
Icon=bsdgames.svg
Terminal=True
Categories=Game;StrategyGame;Simulation;ConsoleOnly
