[Desktop Entry]
Type=Application
Version=1.5
Name=Backgammon
Exec=backgammon -pb
Icon=bsdgames.svg
Terminal=True
Categories=Game;BoardGame;ConsoleOnly
