[Desktop Entry]
Type=Application
Version=1.5
Name=Battlestar
Exec=battlestar
Icon=bsdgames.svg
Terminal=True
Categories=Game;AdventureGame;ConsoleOnly
