[Desktop Entry]
Type=Application
Version=1.5
Name=Hunt the Wumpus
Exec=wump
Icon=bsdgames.svg
Terminal=True
Categories=Game;AdventureGame;ConsoleOnly
